- title = "Checking #{website}"
- meta title: title
.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}=title
      %p
        This page caches for 5 minutes.
      %table.table<
        %tr<
          %th{scope: "row"}<
            Our count
          %td=@our_count
        %tr<
          %th{scope: "row"}<
            Their unique count
          %td= @their_count
        - if @dupes
          %tr<
            %th{scope: "row"}<
              Their dupes

            %td<
              - @dupes.each do |i|
                = i
                %br
        - if @our_unmatched_ids.count > 0
          %tr<
            %th{scope: "row"}<
              Our unmatched ids
            %td<
              - @our_unmatched_ids.each do |i|
                = i
                %br
        - if @their_unmatched_ids.count > 0
          %tr<
            %th{scope: "row"}<
              Their unmatched ids
            %td<
              - @their_unmatched_ids.each do |i|
                = i
                %br
