-title = 'Listing Websites'
-meta title: title
- cache ['v1', admin?,  @websites] do
  .index-outer
    .index
      .index-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for websites
          %thead
            %tr
              %th{scope: "col"} 
                Title
              %th{scope: "col"} 
                Url
              %th{scope: "col"} 
                Actions

          %tbody
            - @websites.each_with_index do |website, idx|
              %tr{class: "item"}
                %td= website.title
                %td= website.url
                %td.text-right
                  = link_to website, class: "btn btn-show", title: "Show this website" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_website_path(website), class: "btn btn-edit", title: "Edit this website"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to website, title: "Delete this website" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete @website?"} do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}

        %nav.index-nav{role:"navigation"}
          = link_to new_website_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Website
