-title = "Showing Website #{@website}"
-meta title: title
-cache ['v1', admin?,  @website] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this website
          %tbody
            %tr
              %th{scope: "row"}
                Title:
              %td
                = @website.title
            %tr
              %th{scope: "row"}
                Url:
              %td
                = @website.url

        -disable_with = "<i id='disable-me' class='fa fa-spinner fa-spin fa-fw'></i>"
        =link_to check_count_website_path(@website), class: "btn btn-primary", data: {disable_with: disable_with} do
          CHECK COUNT
        %br
        %br

        %nav.show-nav{role:"navigation"}
          = link_to websites_path, class: 'btn btn-info', title: "View the websites index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Websites
          = link_to edit_website_path(@website), title: "Edit this website", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
