- meta title: title
.index-outer
  .index
    .index-inner
      %header
        %h1#page-title{tabindex: -1}
          = title

      %table.index-table
        %caption.sr-only Index table for users
        %thead
          %tr
            %th{scope: "col"}<
              First name
            %th{scope: "col"}<
              Last name
            %th{scope: "col"}<
              Email
            %th{scope: "col"}<
              Role
            %th{scope: "col"}<
              Actions

        %tbody
          - organization_users.each do |org_user|
            %tr.item[org_user.membership]
              %td= org_user.first_name
              %td= org_user.last_name
              %td= org_user.email
              %td= org_user.role
              %td.text-right<
                - if policy(org_user.membership).edit?
                  = link_to('Edit',edit_organization_membership_path(current_organization,org_user.membership),class: 'btn btn-edit',title: "Change this user's membership")
                  %nbsp
                - if policy(org_user.membership).destroy?
                  = link_to("Remove",[current_organization,org_user.membership], title: 'Remove this user from the organization', class: "btn btn-destroy", data: { confirm: "Are you sure you want to remove #{org_user.user} from this organization?" }, :method => :delete)

      - if policy(:invitation).new?
        %nav.index-nav(role='navigation')
          = link_to new_organization_invitation_path(current_organization), class: 'btn btn-primary new-link' do
            Invite User
