.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}= title "Membership for #{membership.user}"
      %table.entity-table
        %caption.sr-only Key value pairs for this membership
        %tbody
          %tr
            %th{scope: "row"}
              User
            %td
              = link_to(membership.user,membership.user)
          %tr
            %th{scope: "row"}<
              Role
            %td<
              = Coyote::OrganizationUser.new(membership.user,current_organization).role
      %h2
        Assignments
      = render partial: 'assignments', object: membership.user_assignments

