= simple_form_for metum, validate: true, url: [current_organization,metum], html: { multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input } do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :instructions

  .form-actions
    .form-actions-inner
      = f.button :submit
      - if metum.persisted?
        %br
        %br
        = link_to [current_organization,metum], class: 'btn btn-info' do
          View this metum
      %br
      %br
      = link_to organization_meta_path, class: 'btn btn-info' do
        View all Meta
