= simple_form_for [current_organization,assignment], validate: true, html: { multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input } do |f|
  = f.error_notification

  .form-inputs
    = f.association :resource, prompt: 'Choose a resource to represent', collection: resources
    = f.association :user, prompt: 'Choose a user to create the representation', collection: users

  .form-actions
    .form-actions-inner
      = f.button :submit
      - if assignment.persisted?
        %br
        %br
        = link_to [current_organization,assignment], class: 'btn btn-info' do
          View this assignment
      %br
      %br
      = link_to organization_assignments_path(current_organization), class: 'btn btn-info' do
        View all Assignments
