- klass = "index-table table "
- klass += " paginated-table " unless !defined? paginated or paginated == false
.paginated-wrap
  %table{class: klass}
    %caption.sr-only Index table for assignments
    %thead
      %tr
        %th{scope: "col"}
          User
        %th{scope: "col"}
          Image
        %th{scope: "col"}
          Actions

    %tbody
      - assignments.each_with_index do |assignment, idx|
        %tr{class: "item"}
          %td
            = link_to assignment.user, [current_organization,assignment.user]
          %td 
            = link_to assignment.image, [current_organization,assignment.image]
          %td.text-right
            = link_to [current_organization,assignment], class: "btn btn-show", title: "Show this assignment" do
              View
            %nbsp
            - if policy(assignment).edit?
              = link_to edit_organization_assignment_path(current_organization,assignment), class: "btn btn-edit", title: "Edit this assignment" do
                Edit
              %nbsp
            - if policy(assignment).destroy?
              = link_to [current_organization,assignment], title: "Delete this assignment" , class: "btn btn-destroy",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{assignment}?"} do
                Delete

  - unless !defined? paginated or paginated == false
    .text-center
      %ul.pagination.pagination-lg.pager
