.index-outer
  .index
    .index-inner
      %header
        %h1#page-title{tabindex: -1}
          = title "Assignments for #{current_organization.title}"

      %nav.index-nav{role:"navigation"}
        = paginate assignments

      = render "table", assignments: assignments

      %nav.index-nav{role:"navigation"}
        = paginate assignments
