.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}= title "Showing #{assignment}"
      %table.entity-table
        %caption.sr-only Key value pairs for this assignment
        %tbody
          %tr
            %th{scope: "row"}
              Resource
            %td
              = link_to(assignment.resource,class: 'thumbnail') do
                = resource_link_target(assignment.resource)
          %tr
            %th{scope: "row"}
              User
            %td
              = link_to assignment.user, assignment.user

      %nav.show-nav{role:"navigation"}
        %ul.list-inline
          %li
            = link_to organization_assignments_path(current_organization), class: 'btn btn-info', title: "View the assignments index" do
              Assignments
          - if policy(assignment).destroy?
            %li= link_to('Delete',[current_organization,assignment],title: "Delete this assignment",class: "btn btn-danger",:method => :delete,:data => { confirm: "Are you sure you want to delete #{assignment}?" })
