.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}= title "Showing #{assignment}"
      %table.entity-table
        %caption.sr-only Key value pairs for this assignment
        %tbody
          %tr
            %th{scope: "row"}
              Resource
            %td
              = link_to([current_organization,assignment.resource],class: 'thumbnail') do
                = resource_link_target(assignment.resource)
          %tr
            %th{scope: "row"}
              User
            %td
              = link_to assignment.user, assignment.user

      %nav.show-nav{role:"navigation"}
        %ul.list-inline
          %li
            = link_to organization_assignments_path(current_organization), class: 'btn btn-info', title: "View the assignments index" do
              Assignments

          %li
            = link_to edit_organization_assignment_path(current_organization,assignment), title: "Edit this assignment", class: 'btn btn-primary' do
              Edit

          - if next_resource
            %li
              = link_to new_organization_assignment_path(current_organization,resource_id: next_resource.id) do
                Assign next resource to a user
