.devise-header
  .devise-header-inner
    %h2 Sign up
= simple_form_for resource, as: resource_name, url: registration_path(resource_name), validate: true, html: {multipart: true, class: 'form-horizontal'}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean} do |f|
  = f.error_notification
  .form-inputs
    = f.input :first_name, autofocus: :true
    = f.input :last_name
    = f.input :email, required: true
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true
  .form-actions
    .form-actions-inner
      = f.button :submit, "Sign up", class: 'btn btn-success'
= render "devise/shared/links"
