= simple_form_for [current_organization,representation], validate: true, html: { multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.error_notification

  .form-inputs
    = f.input :resource_id, :as => :hidden, input_html: { value: current_resource.id, name: 'resource_id' } if representation.new_record?
    = f.input :content_type, :as => :select, collection: Coyote::Representation::CONTENT_TYPES
    = f.input :content_uri, :as => :url, label: 'Content URI', hint: 'For non-text representations, such as an audio recording, this is where users can retrieve the representation data', required: false
    = f.input :text, :as => :text, hint: 'It can be helpful to include a transcription of a non-text representation, when available'
    = f.association :metum, collection: available_meta
    = f.input :language, :as => :select, collection: language_list, include_blank: false
    = f.association :license, collection: License.all, include_blank: false

  .form-actions
    .form-actions-inner
      = f.button :submit, 'Save'

      - if representation.persisted?
        %br
        %br
        = link_to [current_organization,representation], class: 'btn btn-info' do
          View this representation
      %br
      %br
      = link_to organization_representations_path(current_organization), class: 'btn btn-info' do
        View all representations
