%tr.item{style: 'border-bottom: 0'}
  %td{rowspan: 2}
    - if organization_user.admin?
      <input id="representation_status_change_representation_id_#{representation.id}" class='representation_ids' name="representation_status_change[representation_ids][]" type="checkbox" value="#{representation.id}" aria-label="Select representation '#{representation.id}' for bulk update" />
    
  %td{rowspan: 2}
    = link_to(representation.resource,class: 'thumbnail') do
      = resource_link_target(representation.resource,dom_id(representation),alt: representation.text)
  %td
    = representation.status.humanize
  %td
    %span.label.label-info= representation.metum_title
  %td
    %span.label.label-default= language_name(representation.language)
  %td.text-right
    = link_to 'View', [current_organization,representation], class: "btn btn-show", title: "Show this representation", :"aria-describedby" => dom_id(representation)
    %nbsp
    - if policy(representation).edit?
      = link_to 'Edit', edit_organization_representation_path(current_organization,representation), class: "btn btn-edit", title: "Edit this representation", :"aria-describedby" => dom_id(representation)
      %nbsp
    - if policy(representation).destroy?
      = link_to 'Delete', [current_organization,representation], title: "Delete this representation" , class: "btn btn-destroy",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{representation}?"}, :"aria-describedby" => dom_id(representation)
%tr
  %td{id: dom_id(representation),colspan: 4,style: 'border-top: 0'}
    = to_html(representation.text)
