.container-fluid
  .row
    .col-md-12
      %header
        %h1#page-title{tabindex: -1}
          = title "Representations for #{current_organization.title}"

  .row
    .col-md-2
      = render partial: 'search', object: record_filter.search

    .col-md-10
      .table-responsive
        %table.index-table.table
          %thead
            %tr
              %th{scope: "col"} Resource
              %th{scope: "col"} Status
              %th{scope: "col"} Metum
              %th{scope: "col"} Language
              %th{scope: "col"} Actions

          %tbody
            = render :partial => 'row', :collection => record_filter.records, :as => :representation

        %nav.index-nav{role: "navigation"}
          = render partial: 'pagination', locals: { record_filter: record_filter }
