.container-fluid
  .index
    .index-inner
      %header
        %h1#page-title{tabindex: -1}
          = title "#{title}: #{number_with_delimiter(representations.count)}"

      = render partial: 'pagination', locals: { representations: representations }

      .table-responsive
        %table.index-table.table
          %thead
            %tr
              %th{scope: "col",rowspan: 2} Resource
              %th{scope: "col"} Status
              %th{scope: "col"} Metum
              %th{scope: "col"} Language
              %th{scope: "col"} Actions

          %tbody
            = render :partial => 'row', :collection => representations, :as => :representation

      = render partial: 'pagination', locals: { representations: representations }
