.container-fluid
  .row
    .col-md-12
      %header
        %h1#page-title{tabindex: -1}
          = title "Descriptions for #{current_organization.title}"

  .row
    .col-md-2
      = render partial: 'search', object: record_filter.search

    .col-md-10
      = simple_form_for :representation_status_change, url: organization_representation_status_changes_path(current_organization), html: { class: 'form-inline' } do |form|
        - if organization_user.admin?
          = form.input :status, collection: Coyote::Representation.status_collection, input_html: { style: 'width: auto' }, label: false, prompt: 'Bulk Status', required: false
          = form.submit 'Apply', class: 'btn btn-primary'

        .table-responsive
          %table.index-table.table
            %thead
              %tr
                %th{scope: 'col'}
                  %span.sr-only This column contains checkboxes for bulk update
                  = form.input :select_all_for_bulk_update, :as => :boolean, label: false, input_html: { :value => nil, :'aria-label' => 'Check this box to select all representations on the page' }
                  All

                %th{scope: 'col'} Resource
                %th{scope: 'col'}= sort_link(record_filter.search,:status)
                %th{scope: 'col'}= sort_link(record_filter.search,:metum_id)
                %th{scope: 'col'}= sort_link(record_filter.search,:language)
                %th{scope: 'col'} Actions

            %tbody
              = render :partial => 'row', :collection => record_filter.records, :as => :representation

        %nav.index-nav{role: "navigation"}
          = render partial: 'pagination', locals: { record_filter: record_filter }

- content_for :javascript_footer do
  = render partial: 'layouts/select_all_rows', locals: { select_all_input_selector: '#representation_status_change_select_all_for_bulk_update', row_selector: ':checkbox.representation_ids' }
