-title = 'Listing Statuses'
-meta title: title
- cache ['v1', admin?,  @statuses] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for statuses
          %thead
            %tr
              %th{scope: "col"}
                Title
              %th{scope: "col"}
                Actions

          %tbody
            - @statuses.each_with_index do |status, idx|
              %tr{class: "item"}
                %td= status.title
                %td= status.description
                %td.text-right
                  = link_to status, class: "btn btn-show", title: "Show this status" do
                    View
                  = link_to edit_status_path(status), class: "btn btn-edit", title: "Edit this status"  do
                    %i.fa.fa-fw.fa-pencil{"aria-hidden" => true}

        %nav.index-nav{role:"navigation"}
          = link_to new_status_path, class: 'btn btn-primary new-link' do
            %i.fa.fa-fw.fa-plus{"aria-hidden" => true}
            New Status
