.row
  - if @image
    .col-md-6
      = image_tag  @image.url, class: "description-image", id: "description-image", alt: @image.alt
      - other_descriptions = @description.siblings

      %h2 
        Title
        %small from #{@image.website}
      -if !@title.blank?
        = to_html @title
      -else
        No title available.

      - if other_descriptions.length > 0
        #id-for-queue-ref.panel.panel-default
          %h2.panel-heading Other descriptions 
          = render "descriptions/table_small", descriptions: other_descriptions, image_id: "description-image", queue_id: "id-for-queue-ref"
    -klass = "col-md-6"
  -else
    -klass = "col-md-12"
  %div{class: klass}
    = simple_form_for @description, validate: true, html: {multipart: true} do |f|
      = f.error_notification
      .form-inputs
        - if @image
          = f.input :image_id,  as: :hidden, input_html: {value: @image.id}
        -else
          = f.association :image, prompt: "Pick an image"
        - if @author.nil?
          = f.association :user, label: "Author", prompt: "Pick the author"
        - elsif action_name == 'new' and 
          = f.input :user_id,  as: :hidden, input_html: {value: @author.id}
        = f.association :metum, prompt: "Choose the description type", prompt: "Pick the description type"
        .metum-instructions
          - @meta.each do |m|
            - if @description.metum_id == m.id
              - style = 'display: block;'
            -else
              - style = 'display: none;'
            - klass = 'metum-instructions'
            %p{id: "metum-instructions-#{m.id}", style: style}
              =m.instructions

        - f.object.new_record? ? selected = "en" : selected = f.object.locale
        = f.input :locale, collection: LanguageList::COMMON_LANGUAGES, :label_method => :name,:value_method => :iso_639_1, as: :select, prompt: "Pick the locale", selected: selected
        - if admin?
          = f.association :status, prompt: "Pick the status"
        - else
          = f.input :status_id, as: :hidden, input_html: {value: 1}

        = f.input :text , :as => :pagedown, :input_html => { :preview => true }

        = f.button :submit, class: 'btn btn-success'
        - if action_name == 'edit'
          %br
          %br
          = link_to @description, class: 'btn btn-info' do
            %i.fa.fa-fw.fa-eye{title: "Eye"}
            View this description
        %br
        %br
        = link_to descriptions_path, class: 'btn btn-info' do
          %i.fa.fa-fw.fa-list{title: "List"}
          View all Descriptions
