.table-responsive
  %table.index-table.table
    %caption.sr-only Table of descriptions
    %thead
      %tr
        - if action_name == "index"
          %th{scope: "col"}
            Image
        %th{scope: "col"}
          Status
        %th{scope: "col"}
          Metum
        %th{scope: "col"}
          Locale
        %th{scope: "col"}
          Text
        %th{scope: "col"}
          Author
        %th{scope: "col"}
          Actions

    %tbody
      - descriptions.each_with_index do |description, idx|
        - klass = "item "
        - klass += "success" if description.status_id == 2
        - klass += "warning" if description.status_id == 1
        - klass += "danger" if description.status_id == 3
        %tr{class: klass}
          - if action_name == "index"
            %td
              =link_to image_path(description.image) do
                =image_tag description.image.url
          %td
            =render 'status', status: description.status
          %td
            %span.label.label-info= description.metum
          %td
            %span.label.label-default= LanguageList::LanguageInfo.find(description.locale).name if description.locale
          %td= description.text
          %td= description.user
          %td.text-right
            = link_to description, class: "btn btn-show", title: "Show this description" do
              %i.fa.fa-fw.fa-eye{title: "Eye"}
            = link_to edit_description_path(description), class: "btn btn-edit", title: "Edit this description"  do
              %i.fa.fa-fw.fa-pencil{title: "Pencil"}
            -if admin?
              = link_to description, title: "Delete this description" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{description}?"} do
                %i.fa.fa-fw.fa-trash{title: "Trash can"}
