-title = 'Descriptions'
-meta title: title
- cache ['v1', admin?,  @descriptions] do
  .index-outer
    .index
      .index-inner
        %header{role: "header"}
          %h1 Listing Descriptions
        %table.index-table
          %caption.sr-only Index table for descriptions
          %thead
            %tr
              %th{scope: "col"} 
                Image
              %th{scope: "col"} 
                Status
              %th{scope: "col"} 
                Metum
              %th{scope: "col"} 
                Locale
              %th{scope: "col"} 
                Text
              %th{scope: "col"} 
                Actions

          %tbody
            - @descriptions.each_with_index do |description, idx|
              %tr{data: {item_id: "#{description.id}"}, class: "item"}
                %td= description.image
                %td= description.status
                %td= description.metum
                %td= description.locale
                %td= description.text
                %td.text-right
                  = link_to description, class: "btn btn-show", title: "Show this description" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_description_path(description), class: "btn btn-edit", title: "Edit this description"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to description, title: "Delete this description" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}

        %nav.index-nav{role:"navigation"}
          = link_to new_description_path, class: 'btn btn-success' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Description
