-title = "Showing #{@description}"
-meta title: title
- image = @description.image
-cache ['v1', current_user,  @description] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}
            =title
            -klass = 'label  label-' + image_status_css_class(image.status_code)
            %span{class: klass}=image.status
        .row
          .col-md-3
            = render "image", image: image
          .col-md-9
            %table.entity-table
              %caption.sr-only Key value pairs for this description
              %tbody
                %tr
                  %th{scope: "row"}<
                    Text
                  %td<
                    = to_html @description.text
                %tr
                  %th{scope: "row"}<
                    Metum
                  %td<
                    %span.label.label-info= @description.metum
                %tr
                  %th{scope: "row"}<
                    Status
                  %td<
                    = render "status", status: @description.status
                %tr
                  %th{scope: "row"}<
                    Locale
                  %td>
                    %span.label.label-default= LanguageList::LanguageInfo.find(@description.locale).name if @description.locale
                %tr
                  %th{scope: "row"}<
                    Author
                  %td<
                    = @description.user
                %tr
                  %th{scope: "row"}<
                    License
                  %td>
                    = link_to license_link(@description.license) do
                      = license_title(@description.license)
                %tr
                  %th{scope: "row"} Updated
                  %td
                    =@description.updated_at
                %tr
                  %th{scope: "row"} Created 
                  %td
                    =@description.created_at


            
            %nav.show-nav{role:"navigation"}
              %ul.list-inline
                -if @description.user == current_user 
                  - next_image = current_user.next_image(@description.image)
                  - if next_image
                    %li
                      = link_to new_description_path(image_id: next_image.id) , class: 'btn btn-primary' do
                        %i.fa.fa-fw.fa-play{"aria-hidden" => "true"}
                        Next image
                -if @description.user == current_user or admin?
                  %li
                    = link_to edit_description_path(@description), title: "Edit this description", class: 'btn btn-primary' do
                      Edit
                %li
                  = link_to new_description_path(image_id: @description.image_id) , class: 'btn btn-primary' do
                    Describe Again
        - if admin? or current_user == @description.user
          - audits = @description.audits.reverse
          - if audits.length > 0
            %h2 Audit log of this description
            = render "descriptions/audits", audits: audits
          - other_descriptions = @description.siblings
          - if other_descriptions.length > 0
            %h2 Other descriptions of this image
            = render "descriptions/table", descriptions: other_descriptions
        -else
          - your_other_descriptions = @description.siblings_by(current_user)
          - if your_other_descriptions.length > 0
            %h2 Other descriptions of this image by you
            = render "descriptions/table", descriptions: your_other_descriptions
