-title = "Showing #{@description}"
-meta title: title
- image = @description.image
-cache ['v1', admin?,  @description] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}
            =title
            -klass = 'label  label-' + image_status_css_class(image.status_code)
            %span{class: klass}=image.status
        .row
          .col-md-3
            = render "image", image: image
          .col-md-9
            %table.entity-table
              %caption.sr-only Key value pairs for this description
              %tbody
                %tr
                  %th{scope: "row"}<
                    Text
                  %td<
                    = to_html @description.text
                %tr
                  %th{scope: "row"}<
                    Metum
                  %td<
                    %span.label.label-info= @description.metum
                %tr
                  %th{scope: "row"}<
                    Status
                  %td<
                    = render "status", status: @description.status
                %tr
                  %th{scope: "row"}<
                    Locale
                  %td>
                    %span.label.label-default= LanguageList::LanguageInfo.find(@description.locale).name if @description.locale
                %tr
                  %th{scope: "row"}<
                    Author
                  %td<
                    = @description.user

            
            %nav.show-nav{role:"navigation"}
              -if @description.user == current_user 
                - next_image = current_user.next_image(@description.image)
                - if next_image
                  = link_to new_description_path(user_id: current_user.id, image_id: next_image.id) , class: 'btn btn-primary' do
                    %i.fa.fa-fw.fa-play{"aria-hidden" => "true"}
                    Next image
              = link_to edit_description_path(@description), title: "Edit this description", class: 'btn btn-primary' do
                %i.fa.fa-fw.fa-pencil{"aria-hidden" => "true"}
                Edit
              = link_to new_description_path(user_id: current_user.id, image_id: @description.image_id) , class: 'btn btn-primary' do
                %i.fa.fa-fw.fa-plus{"aria-hidden" => true}
                Describe Again
              = link_to descriptions_path, class: 'btn btn-info', title: "View the descriptions index" do
                %i.fa.fa-fw.fa-list{"aria-hidden" => "true"}
                Descriptions
        - if admin?
          - audits = @description.audits.reverse
          - if audits.length > 0
            %h2 Audit log
            = render "descriptions/audits", audits: audits
          - other_descriptions = @description.siblings
          - if other_descriptions.length > 0
            %h2 Other descriptions of this image
            = render "descriptions/table", descriptions: other_descriptions
        -else
          - my_other_descriptions = @description.siblings_by(current_user)
          - if my_other_descriptions.length > 0
            %h2 Other descriptions of this image by me
            = render "descriptions/table", descriptions: my_other_descriptions
