-title = 'Showing Description'
-meta title: title
-cache ['v1', admin?,  @description] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1=title
        %table.entity-table
          %caption.sr-only Key value pairs for this description
          %tbody
            %tr
              %th{scope: "row"}
                Image:
              %td
                = @description.image
            %tr
              %th{scope: "row"}
                Status:
              %td
                = @description.status
            %tr
              %th{scope: "row"}
                Metum:
              %td
                = @description.metum
            %tr
              %th{scope: "row"}
                Locale:
              %td
                = @description.locale
            %tr
              %th{scope: "row"}
                Text:
              %td
                = @description.text
        %nav.show-nav{role:"navigation"}
          = link_to descriptions_path, class: 'btn btn-info', title: "View the descriptions index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Descriptions
          = link_to edit_description_path(@description), title: "Edit this description", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit 
