= simple_form_for @group, validate: true, html: {multipart: true, class: 'form-horizontal'}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input} do |f|
  = f.error_notification
  .form-inputs
    = f.input :title


  .form-actions
    .form-actions-inner
      = f.button :submit, class: 'btn btn-success'
      - if action_name == 'edit'
        %br
        %br
        = link_to @group, class: 'btn btn-info' do
          %i.fa.fa-fw.fa-eye{"title" => "Show", "aria-hidden" => "true"}
          View this group
      %br
      %br
      = link_to groups_path, class: 'btn btn-info' do
        %i.fa.fa-fw.fa-list{"title" => "List", "aria-hidden" => "true"}
        View all Groups
