-title = 'Listing Groups'
-meta title: title
- cache ['v1', admin?,  @groups] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for groups
          %thead
            %tr
              %th{scope: "col"}
                Title
              %th{scope: "col"}
                Actions

          %tbody
            - @groups.each_with_index do |group, idx|
              %tr{class: "item"}
                %td= group.title
                %td.text-right
                  = link_to group, class: "btn btn-show", title: "Show this group" do
                    %i.fa.fa-fw.fa-eye{"aria-hidden" => "true"}
                  = link_to edit_group_path(group), class: "btn btn-edit", title: "Edit this group"  do
                    %i.fa.fa-fw.fa-pencil{"aria-hidden" => "true"}
                  = link_to group, title: "Delete this group" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{group}?"} do
                    %i.fa.fa-fw.fa-trash{"aria-hidden" => "true"}

        %nav.index-nav{role:"navigation"}
          = link_to new_group_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{"aria-hidden" => "true"}
            New Group
