= simple_form_for [current_organization,user], validate: true, html: { multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name, autofocus: true
    = f.input :last_name
    = f.input :email, required: true
    = f.input :password, required: true, hint: "#{User.password_length.min} characters minimum" if user.new_record?
    -#= f.input :role, :as => :select, collection: user_organization_role_collection, include_blank: false

  .form-actions
    .form-actions-inner
      = f.button :submit, "Save User"

      - if user.persisted?
        %br
        %br
        = link_to [current_organization,user], class: 'btn btn-info' do
          View this user
      %br
      %br
      = link_to organization_users_path(current_organization), class: 'btn btn-info' do
        View all Users
