.row
  - representation_group.each do |representation|
    .col-md-4
      = link_to(representation.resource,class: 'thumbnail') do
        = resource_link_target(representation.resource,dom_id(representation))

      %div[representation,'caption']
        <em>#{representation.resource_title}</em>

      %div[representation]
        = to_html(representation.text)

      = simple_form_for representation, :method => :put, :html => { class: 'form-inline' } do |form|
        = form.input :status, collection: Coyote::Representation.status_collection, input_html: { data: { representation_id: representation.id }, class: 'representation_status_select', style: 'width: auto' }, prompt: true, required: false
