.card
  = link_to(representation.resource) do
    = resource_link_target(representation.resource,dom_id(representation),class: 'card-img-top')

  .card-body
    %div.card-title[representation,'caption']
      = to_html(representation.resource_title)

    %div.card-text[representation]
      = to_html(representation.text)

      = simple_form_for representation, :method => :put, :html => { class: 'form-inline' } do |form|
        = form.input :status, collection: Coyote::Representation.status_collection, label_html: { class: 'm-1' }, input_html: { data: { representation_id: representation.id }, class: 'representation_status_select' }, prompt: true, required: false

        - if policy(representation).edit?
          = link_to 'Edit', edit_representation_path(representation), class: "btn btn-info btn-small", title: "Edit this representation"
