Hello, #{recipient_email},

You have been added as a #{role} to #{organization_name} by #{sender_name}. You can visit the organization at
#{organization_url(organization)}.

Sincerely,
#{Rails.configuration.x.site_name}
