%p
  Hello, #{recipient_email},

%p
  You have been added as a #{role} to #{link_to(organization_name,organization)} by
  #{sender_name}. You can visit the organization at #{link_to(nil,organization_url(organization))}.

Sincerely,
#{Rails.configuration.x.site_name}
