%p
  Hello, #{invitation.recipient_email}:

%p
  You have been invited to sign up for #{link_to(Rails.configuration.x.site_name,Rails.configuration.x.project_url)}
  as a member of #{organization_title} by #{sender_name}. Please visit #{link_to(signup_link,signup_link,id: 'signup_link')} 
  to accept the invitation.

%p
  Sincerely, #{Rails.configuration.x.site_name}
