- title= "Welcome to Coyote"
- if current_user
  -title += ", #{current_user}!"
-meta title: title,
  og: { title: title,
    url: request.url,
  }
.container
  - if !current_user
    .row
      .col-md-6
        %header
          %h1#page-title=title
        :markdown
          The open-source Coyote software was developed by the Museum of Contemporary Art Chicago to support a distributed workflow for describing images in our web CMS and publishing those descriptions to our public website. The MCA team is creating both alt-text descriptions of 20–30 words, as well as much longer descriptions, particularly of collection works.

          Coyote offers role-based logins to facilitate image description tasks. Administrators approve, assign, and review descriptions. Cataloguers create descriptions from an assignment queue or select images to describe. To provide additional context for cataloguers, Coyote presents the image caption, where available. Coyote allows multiple cataloguers to describe an image; it also allows a single cataloguer to create multiple description–potentially in multiple languages–of the same image.

          More information about image description projects at the MCA and elsewhere is available at <a href="//www.coyote.pics" target="_blank">www.coyote.pics</a>, along with contact information for the project team. You can also view or hear image descriptions on the MCA website at <a href="//www.mcachicago.org" target="_blank">www.mcachicago.org</a>.

      .col-md-6
        %div
          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "sign-up", "data-toggle" => "tab", :href => "#sign-up", :role => "tab"} Sign up
            %li{:role => "presentation"}
              %a{"aria-controls" => "log-in", "data-toggle" => "tab", :href => "#log-in", :role => "tab"} Log in
          / Tab panes
          .tab-content
            #sign-up.fade.in.tab-pane.active{:role => "tabpanel"}
              = render 'devise/registrations/form'
            #log-in.fade.tab-pane{:role => "tabpanel"}
              = render 'devise/sessions/form'
              = link_to "Forgot your password?", new_password_path(resource_name)

  - else
    .row
      .col-sm-12
        %header
          %h1#page-title=title
    .row
      .col-sm-6
        %h2 Our Status
        -#%table.table.table-no-grid
          -#%tr<
            -#%th Total Descriptions
            -#%td.text-right= @description_count
          -#%tr<
            -#%th Total Images
            -#%td.text-right= @image_count
        %table.table.table-no-grid
          %tr<
            - title = "Described images of #{number_with_delimiter @image_count} images"
            %th.sr-only= title
            %td= render "progress", value: @described_count, max: @image_count, title: title
          - if admin?
            %tr<
              - title = "Images assigned and undescribed of #{number_with_delimiter @image_count} images"
              %th.sr-only= title
              %td= render "progress", value: @open_assignment_count, max: @image_count, title: title
            %tr<
              - title = "Images unassigned and undescribed of #{number_with_delimiter @image_count} images"
              %th.sr-only= title
              %td= render "progress", value: @unassigned_undescribed_count, max: @image_count, title: title
            %tr<
              - title = "Descriptions ready for review of #{number_with_delimiter @description_count} descriptions"
              %th.sr-only= title
              %td= render "progress", value: @review_count, max: @description_count, title: title
            -#%tr<
              -#- title = "Unapproved Descriptions"
              -#%th.sr-only= title
              -#%td= render "progress", value: @unapproved_count, max: @description_count, title: title
          %tr<
            - title = "Approved descriptions of #{number_with_delimiter @description_count} descriptions"
            %th.sr-only= title
            %td= render "progress", value: @approved_count, max: @description_count, title: title
            %tr<
              - title = "Latest image timestamp"
              %th.sr-only = title
              %td
                %span{"aria-hidden" => true}= "#{title}: "
                .pull-right
                  = @latest_image_timestamp
            -#%tr<
              -#%th.sr-only Images Ready to Review
              -#%td= render "progress", value: @assigned_count, max: @image_count, title: "Images Assigned"
      .col-sm-6
        %h2 Your Status
        %table.table.table-no-grid
          %tr<
            - title = "Described images of #{number_with_delimiter @described_count} images"
            %th.sr-only=title
            %td= render "progress", value: @your_described_count, max: @described_count, title: title
          %tr<
            - title = "Approved descriptions of #{number_with_delimiter @your_described_count} descriptions"
            %th.sr-only=title
            %td= render "progress", value: @your_approved_count, max: @your_described_count, title: title
          -#%tr<
            -#- title = "Pending Descriptions"
            -#%th.sr-only=title
            -#%td= render "progress", value: @your_pending_count, max: @your_described_count, title: title
          %tr<
            - title = "Unapproved descriptions of #{number_with_delimiter @your_described_count} descriptions"
            %th.sr-only=title
            %td= render "progress", value: @your_unapproved_count, max: @your_described_count, title: title
    .row
      .col-md-12
        -if admin?
          %h2 Admin Queues
          =render "queue", queue: @undescribed, type: "Undescribed Images", count: @undescribed_count
          =render "queue", queue: @unassigned, type: "Unassigned Images", count: @unassigned_count
          =render "queue", queue: @ready_to_review, type: "Ready to Review Descriptions", count: @ready_to_review_count
          -#=render "queue", queue: @completed, type: "Completed Images"
          -#Supplemental Queues
          -#=render "queue", queue: @incomplete, type: "Incomplete Images"
          -#=render "queue", queue: @not_approved, type: "Images with Unapproved Descriptions"
          -#=render "queue", queue: @assigned, type: "Assigned Images"
        %h2 Your Queues
        - if @your_queue and @your_queue.length == 0 #&& @your_completed_queue.length == 0 && @your_described_queue.length ==0
          %p You haven't been assigned any images.
          - if !admin?
            %p 
              Ask an admin to assign you some images. Meanwhile, you can #{link_to "review some approved descriptions", descriptions_path(q: {status_id_eq: 2})}, and #{link_to "start describing images", images_path}.

        - else
          =render "queue", queue: @your_queue, type: "Your Assigned Images", count: @your_queue_count
    -if admin?
      .row
        .col-md-6
          %h2>
            Export spreadsheet of image records
            %small>
              %code .csv
          = button_tag  export_images_path(format: "csv"), class: 'btn btn-primary' do
            Export
          = form_tag import_images_path, multipart: true, class: 'form-horizontal' do |f|
            %h2>
              Import images
              <small>via <code>.csv</code>, <code>.xls</code>, and <code>.xlsx</code></small>
            = file_field_tag :file, label: "Select your file"
            = button_tag type: "submit", class: "btn btn-primary disabled", data: {disaabled: true} do
              Upload
        .col-md-6
          %h2 Deploy Status
          - if @latest_commit 
            - if @latest_commit != @current_commit 
              - deploy_works = false
              - if deploy_works #TODO
                - if @deployed_at.nil? 
                  -disable_with = "<i id='disable-me' class='fa fa-spinner fa-spin fa-fw'></i>"
                  - klass= 'btn btn-primary'
                  - form_klass = "inline-form"
                  - disabled = false
                  = button_to deploy_path, params: {},
                    form_class: form_klass, class: klass, disabled: disabled, method: :post, remote: true,
                    data: {disable_with: disable_with} do
                    Update
                - else
                  - if @deployed_at + 5.minutes >= Time.now
                    Deploying...
                  - else
                    Redeploy run at:
                    = @deployed_at
              -else
                %p
                  Latest commit: 
                  = link_to "https://github.com/coyote-team/coyote/commit/" + @latest_commit, target: "_blank" do
                    =@latest_commit
                %p
                  Current commit: 
                  = link_to "https://github.com/coyote-team/coyote/commit/" + @current_commit, target: "_blank" do
                    =@current_commit
            - else
              %p
                Up to date at:
                = link_to "https://github.com/coyote-team/coyote/commit/" + @current_commit, target: "_blank" do
                  =@current_commit
          - else
            %p
              Current commit: 
              = link_to "https://github.com/coyote-team/coyote/commit/" + @current_commit, target: "_blank" do
                =@current_commit
