- title= "Welcome to Coyote"
- if current_user
  -title += ", #{current_user}!"
-meta title: title,
  og: { title: title,
    url: request.url,
  }
.container
  - if !current_user
    .row
      .col-md-6
        %header
          %h1#page-title=title
        :markdown
          Coyote is a tool for quickly annotating images built for the <a href="//www.mcachicago.org/" target="_blank">Museum of Contemporary Art Chicago</a>.

          While Coyote’s primary goal is to be the canonical holder of image description, it does not strive nor is meant to be the canonical holder of image data or metadata not related to description. Coyote offers role-based logins to facilitate a workflow approach towards image description. To this end, those who are administrators may approve, assign, and review descriptions. When users log in, they are presented with a queue-based interface for authoring descriptions that they have been assigned. Realizing that image description is a context-sensitive process, Coyote offers content creators the ability to author both multiple types and multiple instances of a single type of description per image. In addition, a tagging interface exists to assist in search and organization activities within the interface.

      .col-md-6
        %div
          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "sign-up", "data-toggle" => "tab", :href => "#sign-up", :role => "tab"} Sign up
            %li{:role => "presentation"}
              %a{"aria-controls" => "log-in", "data-toggle" => "tab", :href => "#log-in", :role => "tab"} Log in
          / Tab panes
          .tab-content
            #sign-up.fade.in.tab-pane.active{:role => "tabpanel"}
              = render 'devise/registrations/form'
            #log-in.fade.tab-pane{:role => "tabpanel"}
              = render 'devise/sessions/form'
              = link_to "Forgot your password?", new_password_path(resource_name)

  - else
    .row
      .col-sm-12
        %header
          %h1#page-title=title
    .row
      -if admin?
        .col-md-12
          %h2 Admin Queues
          =render "queue", queue: @undescribed, type: "Undescribed Images", count: @undescribed_count
          =render "queue", queue: @unassigned, type: "Unassigned Images", count: @unassigned_count
          =render "queue", queue: @ready_to_review, type: "Ready to Review Descriptions", count: @ready_to_review_count
          -#=render "queue", queue: @completed, type: "Completed Images"
          -#Supplemental Queues
          -#=render "queue", queue: @incomplete, type: "Incomplete Images"
          -#=render "queue", queue: @not_approved, type: "Images with Unapproved Descriptions"
          -#=render "queue", queue: @assigned, type: "Assigned Images"
      .col-md-12
        %h2 Your Queues
        - if @my_queue and @my_queue.length == 0 #&& @my_completed_queue.length == 0 && @my_described_queue.length ==0
          %p You haven't been assigned any images.
          - if !admin?
            %p Ask an admin to assign you some.
        - else
          =render "queue", queue: @my_queue, type: "Your Assigned Images", count: @my_queue_count
    .row
      .col-sm-6
        %h2 Our Status
        -#%table.table.table-no-grid
          -#%tr<
            -#%th Total Descriptions
            -#%td.text-right= @description_count
          -#%tr<
            -#%th Total Images
            -#%td.text-right= @image_count
        %table.table.table-no-grid
          %tr<
            - title = "Described Images"
            %th.sr-only= title
            %td= render "progress", value: @described_count, max: @image_count, title: title
          %tr<
            - title = "Approved Descriptions"
            %th.sr-only= title
            %td= render "progress", value: @approved_count, max: @description_count, title: title
          - if admin?
            %tr<
              - title = "Pending Descriptions Ready for Review"
              %th.sr-only= title
              %td= render "progress", value: @review_count, max: @description_count, title: title
            %tr<
              - title = "Unapproved Descriptions"
              %th.sr-only= title
              %td= render "progress", value: @unapproved_count, max: @description_count, title: title
            %tr<
              - title = "Undescribed Images with Open Assignments"
              %th.sr-only= title
              %td= render "progress", value: @open_assignment_count, max: @image_count, title: title
            %tr<
              - title = "Images Unassigned and Undescribed"
              %th.sr-only= title
              %td= render "progress", value: @unassigned_undescribed_count, max: @image_count, title: title
            %tr<
              - title = "Latest Image Timestamp"
              %th.sr-only= title
              %td
                = "#{title}:"
                = @latest_image_timestamp
            -#%tr<
              -#%th.sr-only Images Ready to Review
              -#%td= render "progress", value: @assigned_count, max: @image_count, title: "Images Assigned"
      .col-sm-6
        %h2 Your Status
        %table.table.table-no-grid
          %tr<
            - title = "Images Described"
            %th.sr-only=title
            %td= render "progress", value: @my_described_count, max: @described_count, title: title
          %tr<
            - title = "Approved Descriptions"
            %th.sr-only=title
            %td= render "progress", value: 0, max: @my_described_count, title: title
          %tr<
            - title = "Pending Descriptions"
            %th.sr-only=title
            %td= render "progress", value: 0, max: @my_described_count, title: title
          %tr<
            - title = "Unapproved Descriptions"
            %th.sr-only=title
            %td= render "progress", value: 0, max: @my_described_count, title: title
    -if admin?
      .row
        .col-md-6
          = form_tag import_images_path, multipart: true, class: 'form-horizontal' do |f|
            %h2>
              Import images
              <small>via <code>.csv</code>, <code>.xls</code>, and <code>.xlsx</code></small>
            = file_field_tag :file, label: "Select your file"
            = button_tag type: "submit", class: "btn btn-primary disabled", data: {disaabled: true} do
              Upload
        .col-md-6
          %h2>
            Export spreadsheet of image records
            %small>
              %code .csv
          = button_tag  export_images_path(format: "csv"), class: 'btn btn-primary' do
            Export
