- meta title: title

.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}= title
      %p
        Issue an invitation to join #{current_organization.title}:

      = simple_form_for [current_organization,invitation], validate: true do |f|
        = f.error_notification
        = f.input :recipient_email, label: 'Recipient Email Address'
        = f.input :role, collection: organizational_user_assignable_roles
        = f.button :submit, 'Send invitation'
