= simple_form_for @<%= singular_table_name %>, validate: true, html: {multipart: true, class: 'form-horizontal'}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input} do |f|
  = f.error_notification
  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  <%- if options[:attachments] -%>
    = render "attachments_form", f: f
  <%- end -%>

  .form-actions
    .form-actions-inner
      = f.button :submit, class: 'btn btn-success'
      - if action_name == 'edit'
        %br
        %br
        = link_to @<%= singular_table_name %>, class: 'btn btn-info' do
          %i.fa.fa-fw.fa-eye{title: "Eye"}
          View this <%= singular_table_name %>
      %br
      %br
      = link_to <%= index_helper %>_path, class: 'btn btn-info' do
        %i.fa.fa-fw.fa-list{title: "List"}
        View all <%=plural_table_name.capitalize%>
