%tr.item[resource]
  %td
    - if policy(Assignment).new?
      <input id="assignment_resource_ids_#{resource.id}" class='assignment_resource_ids' name="assignment[resource_ids][]" type="checkbox" value="#{resource.id}" aria-label="Select resource '#{resource.identifier}' for bulk assignment" /> 
  %td
    = lightbox_link(resource) do
      = resource_link_target(resource,nil,style: 'img-thumbnail')
  
  %td= resource.priority_flag ? 'High': 'Low'
  %td= to_html(resource.title)
  %td= resource.representations_count
  %td.text-right
    - if policy(resource).index?
      = link_to('View',resource,class: 'btn btn-show',title: 'Show this resource')
      %nbsp
    - if policy(resource).edit?
      = link_to('Edit',edit_resource_path(resource),class: 'btn btn-edit',title: 'Edit this resource')
