= search_form_for base_resource_query, url: organization_resources_path(current_organization), html: { class: 'form-vertical' } do |f|
  = f.label :identifier_or_title_or_representations_text_cont_all, 'Search by identifier, title, or representation text'
  = f.search_field :identifier_or_title_or_representations_text_cont_all, class: 'input-medium form-control', required: false
  %br
  = link_to 'Clear', organization_resources_path(current_organization), class: 'btn btn-sm btn-info'
  = button_tag 'Search', type: 'submit', class: 'btn btn-info btn-sm'
