.container-fluid
  .row
    .col-md-12
      %header
        %h1#page-title{tabindex: -1}= title "Resources for #{current_organization.title}"

  .row
    .col-md-2
      = render partial: 'search', object: record_filter.search

    .col-md-10
      = simple_form_for :assignment, url: organization_assignments_path(current_organization), html: { class: 'form-inline' } do |form|
        - if policy(Assignment).new?
          = form.input :user_id, collection: organizational_user_collection, input_html: { style: 'width: auto' }, label: false, prompt: 'Bulk Assign', required: false
          = form.submit 'Assign', class: 'btn btn-primary'

        .table-responsive
          %table.index-table
            %caption.sr-only Index table for resources
            %thead
              %tr
                %th
                  %span.sr-only This column contains checkboxes for bulk assignment
                  = form.input :select_all_resources_for_bulk_assignment, :as => :boolean, label: false, input_html: { :value => nil, :'aria-label' => 'Check this box to select all resources on the page' }
                  All
                %th{scope: 'col'}
                  Resource
                %th{scope: 'col'}
                  = sort_link(record_filter.search,:priority_flag,'Priority')
                %th{scope: 'col'}
                  = sort_link(record_filter.search,:title,'Caption')
                %th{scope: 'col'}
                  = sort_link(record_filter.search,:representations_count,'Description Count')
                %th{scope: 'col'}
                  Actions

            %tbody
              = render partial: 'resource', collection: record_filter.records, locals: { form: form }

        %nav.index-nav{role:"navigation"}
          = render partial: 'pagination', locals: { record_filter: record_filter }

          - if policy(Resource).new?
            = link_to 'New Resource', new_organization_resource_path(current_organization),class: 'btn btn-primary new-link'

- content_for :javascript_footer do
  = render partial: 'layouts/select_all_rows', locals: { select_all_input_selector: '#assignment_select_all_resources_for_bulk_assignment', row_selector: ':checkbox.assignment_resource_ids' }
