.index-outer
  .index
    .index-inner
      %header
        %h1#page-title{tabindex: -1}= title "Resources for #{current_organization.title}"

      = render partial: 'search'

      .table-responsive
        %table.index-table
          %caption.sr-only Index table for resources
          %thead
            %tr
              %th{scope: 'col'}
                Identifier
              %th{scope: 'col'}
                Title
              %th{scope: 'col'}
                Representations
              %th{scope: 'col'}
                Actions

          %tbody
            = render partial: 'resource', collection: resources

      %nav.index-nav{role:"navigation"}
        = pagination_links(resources)
        - if policy(Resource).new?
          = link_to 'New Resource', new_organization_resource_path(current_organization),class: 'btn btn-primary new-link'
