.container-fluid
  .row
    .col-md-12
      %header
        %h1#page-title{tabindex: -1}
          = title "Resource #{resource.label}"
  .row
    .col-md-4
      = link_to(resource,class: 'thumbnail') do
        = resource_link_target(resource,dom_id(resource),alt: resource.representations.first) # TODO: need to figure this out, in general: what to use for a 'default' description

    .col-md-6
      %table.entity-table
        %caption.sr-only Key value pairs for this resource
        %tbody
          %tr
            %th{scope: "row"} Identifier
            %td= resource.identifier
          %tr
            %th{scope: "row"} Title
            %td= resource.title
          %tr
            %th{scope: "row"}= link_to('Resource Type','http://dublincore.org/documents/dcmi-terms/#section-7',target: :_blank)
            %td= resource.resource_type
          %tr
            %th{scope: "row"} Source URI
            %td= link_to(nil,resource.source_uri)
          %tr
            %th{scope: "row"} Canonical ID
            %td= resource.canonical_id
          %tr
            %th{scope: "row"} Context
            %td= link_to(resource.context,[current_organization,resource.context])
          %tr
            %th{scope: "row"} Updated
            %td
              = resource.updated_at
          %tr
            %th{scope: "row"} Created 
            %td
              = resource.created_at

      %nav.show-nav{role:"navigation"}
        %ul.list-inline
          - if policy(Representation).new?
            %li
              = link_to new_organization_representation_path(current_organization,resource_id: resource.id), title: 'Create new representation for this resource', class: 'btn btn-primary' do
                Create Description
          - if policy(resource).edit?
            %li
              = link_to edit_resource_path(resource), title: "Edit this resource", class: 'btn btn-info' do
                Edit
          - if policy(ResourceLink).new?
            %li
              = link_to new_resource_link_path(subject_resource_id: resource.id), title: 'Create new link from this resource to another resource', class: 'btn btn-info' do
                Create Link to Another Resource
          - if policy(Assignment).new?
            %li
              = simple_form_for :assignment, url: organization_assignments_path(current_organization), html: { class: 'form-inline' } do |f|
                = f.input :user_id, collection: organizational_user_collection, input_html: { style: 'width: auto' }, label: false, prompt: 'Assign To', required: false
                = f.input :resource_id, :as => :hidden, :input_html => { value: resource.id }
                = f.submit 'Assign', class: 'btn btn-info'


  .row
    .col-md-12
      %h2 Descriptions
      = render partial: 'representations', object: resource.representations
  .row
    .col-md-12
      %h2 Related Resources
      = render partial: 'related_resources', object: resource.related_resources
