.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}
          = title endpoint
      %table.entity-table
        %caption.sr-only Key value pairs for this endpoint
        %tbody
          %tr
            %th{scope: "row"} Name
            %td= endpoint.name
      %nav.show-nav{role:"navigation"}
        %ul.list-inline
          %li
            = link_to edit_staff_endpoint_path(endpoint), title: "Edit #{endpoint}", class: 'btn btn-primary' do
              Edit
          %li
            = button_to staff_endpoint_path(endpoint), :title => "Delete #{endpoint} from Coyote", :class => 'btn btn-danger', :method => :delete do
              Delete
          %li
            = link_to staff_endpoints_path, class: 'btn btn-info', title: "View the Endpoints index" do
              Endpoints
