.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}
          = title "Showing Resource Link #{resource_link.id}"
      .row
        .col-md-9
          %table.entity-table
            %caption.sr-only Key value pairs for this resource link
            %tbody
              %tr
                %th Predicate
                %td= predicate_for(resource_link)
              %tr
                %th{scope: "row"} Subject
                %td= link_to(resource_link.subject_resource_label,[resource_link.subject_resource_organization,resource_link.subject_resource])
              %tr
                %th{scope: "row"} Verb
                %td
                  %dl
                    %dt= resource_link.verb
                    %dd= Coyote::ResourceLink::VERBS.fetch(resource_link.verb.to_sym).description
              %tr
                %th{scope: "row"} Object
                %td= link_to(resource_link.object_resource_label,[resource_link.object_resource_organization,resource_link.object_resource])

              %tr
                %th{scope: "row"} Updated
                %td
                  = resource_link.updated_at
              %tr
                %th{scope: "row"} Created 
                %td
                  = resource_link.created_at

          %nav.show-nav{role:"navigation"}
            %ul.list-inline
              - if policy(resource_link).edit?
                %li
                  = link_to edit_resource_link_path(resource_link), title: "Edit this resource link", class: 'btn btn-primary' do
                    Edit
              - if policy(resource_link).destroy?
                %li
                  = link_to resource_link, title: 'Delete this Resource Link' , class: "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure you want to delete this Resource Link?' } do
                    Delete
