-id ||= "description-image"
= link_to [current_organization,image] do
  = image_tag  image.url, class: "description-image", id: id, alt: image.alt, "aria-describedby": "image-title-#{image.id}"

-unless image.title.blank?
  %div{id: "image-title-#{image.id}"}= to_html image.title
-else
  %p{id: "image-title-#{image.id}"} No caption available.
