-id ||= "description-image"
= link_to image_path(image) do
  = image_tag  image.url, class: "description-image", id: id, alt: image.alt, "aria-describedby": "image-title-#{image.id}"

-unless image.title.blank?
  %div{id: "image-title-#{image.id}"}= to_html image.title
  %p 
    %span.sr-only from
    #{image.website}
  %ul.list-inline.label-list
    %li
      %span.label.label-info Caption
-else
  %p{id: "image-title-#{image.id}"} No title available.
