= nav_menu_link("Images",organization_images_path(current_organization))
= nav_menu_link("Descriptions",organization_descriptions_path(current_organization))

- if current_user.admin?
  = nav_menu_link("Assignments",organization_assignments_path(current_organization))
  = nav_menu_link("Users",organization_users_path(current_organization))
  = nav_menu_link("Contexts",organization_contexts_path(current_organization))
  = nav_menu_link("Websites",organization_websites_path(current_organization))
