.container
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "bs-navbar", "aria-expanded" => "false", "data-target" => "#bs-navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"} Coyote
  %nav#bs-navbar.collapse.navbar-collapse{role: "navigation"}
    -if admin?
      %h2.sr-only Navigation
      %ul.nav.navbar-nav
        - models = [ "images", "descriptions", "assignments", "users", "groups", "websites" ]
        - models.each do |m|
          %li<
            = link_to  m.capitalize, send("#{m}_path")
    -elsif current_user
      %h2.sr-only Navigation
      %ul.nav.navbar-nav
        - models = [ "descriptions", "images"]
        - models.each do |m|
          %li<
            = link_to  m.capitalize, send("#{m}_path")
    -if current_user
      .navbar-right.navbar-nav
        %h2.sr-only Global Actions
        -#%ul.nav.navbar-nav
          -#%li<
        %span.dropdown
          %button{type: "button", class: "dropdown-toggle", data: {toggle: "dropdown"}, "aria-haspop" => "true", "aria-expanded" => "false", id: 'user-actions'}
            =current_user
            %span.caret
          %ul.dropdown-menu<
            %li<
              %a{href: "mailto:coyote@seeread.info", target: "_blank"}
                %i.fa.fa-fw.fa-support{"aria-hidden" => "true"}
                Support

            - if current_user
              %li<
                = link_to destroy_user_session_path, :method => :delete do 
                  %i.fa.fa-fw.fa-sign-out{"aria-hidden" => "true"}
                  Log out
            - else
              %li<
                = link_to user_session_path do
                  %i.fa.fa-fw.fa-sign-in{"aria-hidden" => "true"}
                  Log in
