- value ||= 0
- title ||= "title"
- max ||= 1
- min ||= 0
- diff = max - min
- diff = 1 if diff == 0
- percentage = 100 * value / diff
.progress
  .progress-bar{"aria-valuemax" => max, "aria-valuemin" => min, "aria-valuenow" => value, :role => "progressbar", :style => "width: #{percentage}%"}
- progress_label= "#{value} #{title}"
- if max != 1
  - progress_label += " of #{max}"
%p.no-margin
  %span.progress-label= progress_label
  %span.progress-percentage= "#{percentage}%"
