- if queue and queue.size > 0
  .queue
    %h3 
      #{type} Queue
      %span.badge= queue.count
    .well
      .row
        - queue.each_with_index do |item, idx|
          - if item.is_a? Image
            - image = item
          - else #is a description
            - description = item
            - image = description.image
          .col-sm-4.col-xs-12
            .thumbnail
              =image_tag image.full_url, alt: "image #{image.id}"
              .caption
                - unless type == "Unassigned Images"
                  -#- if type == "Ready to Review Descriptions"
                    -#- descriptions = image.descriptions.ready_to_review
                  -#- else
                    -#-descriptions = image.descriptions
                  - if type.start_with? "Your"
                    -descriptions = image.descriptions.collect{ |d| d if @my_description_ids.include? d.id}.compact
                  - else
                    -descriptions = image.descriptions
                  %h4 
                    Descriptions
                    %span.badge
                      = descriptions.count
                    - if type.start_with? "Your"
                      - path = new_description_path(image_id: image.id, user_id: @user.id )
                    - else
                      - path = new_description_path(image_id: image.id)
                    =link_to path, class: "btn btn-success", title: "Add a description for Image #{image.id}" do
                      -#%i.fa.fa-plus
                      Describe
                  %ul
                    - descriptions.each do |d|
                      %li.well<
                        %blockquote.blockquote
                          %p
                            =d.text
                          %footer
                            %cite
                              =d.user
                        %p
                          %span.label.label-default= d.locale
                          %span.label.label-info= d.metum
                          - case d.status.id
                          - when 1
                            -label_class = "warning"
                          - when 2
                            -label_class = "success"
                          - when 3
                            -label_class = "danger"
                          %span{class: "label label-"+ label_class}=d.status
                        =link_to edit_description_path(d), title: "Edit this description", class: 'btn btn-primary' do
                          %i.fa.fa-fw.fa-pencil

                - if @user.admin? and !type.starts_with?("Your") #TODO replace with current_user?
                  %h4 
                    Users 
                    %span.badge
                      =image.users.count
                    = link_to new_assignment_path(image_id: image.id), class: 'btn btn-success new-link', title: "Assign a user to Image #{image.id}" do
                      -#%i.fa.fa-plus
                      Assign
                  %ul
                    -image.users.each do |user|
                      %li= user
