- if queue 
  .queue
    %h3<
      #{type} Queue
      %span.sr-only<
        ,
      -if queue.size > 0
        %span.badge= queue.count
  -if queue.size > 0
    .well.well-sm
      .row
        - queue.each_with_index do |item, idx|
          - if item.is_a? Image
            - image = item
          - else #is a description
            - description = item
            - image = description.image
          %ul
            - queue_id = type.downcase.strip.gsub(' ', '-')
            %li{id: "#{queue_id}-image-li-#{image.id}"}<
              .col-sm-6.col-xs-12<
                .thumbnail<
                  - image_id= "#{queue_id}-image-#{image.id}"
                  =image_tag image.full_url, alt: "image #{image.id}", id: image_id
                  .caption
                    - unless type == "Unassigned Images"
                      -#- if type == "Ready to Review Descriptions"
                        -#- descriptions = image.descriptions.ready_to_review
                      -#- else
                        -#-descriptions = image.descriptions
                      - if type.start_with? "Your"
                        -descriptions = image.descriptions.collect{ |d| d if @my_description_ids.include? d.id}.compact
                      - else
                        -descriptions = image.descriptions
                      %h4<
                        Descriptions
                        %span.sr-only ,
                        %span.badge= descriptions.count
                        - path = new_description_path(image_id: image.id, user_id: current_user.id )
                      %ul
                        - descriptions.each do |d|
                          %li<
                            .panel.panel-default<
                              .panel-heading
                                %h5.panel-title
                                  - metum_id= "#{queue_id}-#{d.id}-metum"
                                  %span.label.label-info{id: metum_id}= d.metum
                                  - locale_id= "#{queue_id}-#{d.id}-locale"
                                  %span.label.label-default{id: locale_id}= LanguageList::LanguageInfo.find(d.locale).name 
                                  - case d.status.id
                                  - when 1
                                    -label_class = "warning"
                                  - when 2
                                    -label_class = "success"
                                  - when 3
                                    -label_class = "danger"
                                  %span{id: "" , class: "label label-"+ label_class}= d.status
                              .panel-body
                                %blockquote.blockquote
                                  %p<
                                    =d.text
                                  -if d.user
                                    %footer<
                                      %cite<
                                        =d.user
                              .panel-footer.text-right
                                -if admin?
                                  -disable_with = "<i id='disable-me' class='fa fa-spinner fa-spin fa-fw'></i>"

                                  -form_klass='btn btn-success '
                                  -disabled = false
                                  -if d.status_id == 2
                                    -form_klass += 'disabled'
                                    - disabled = true
                                  = button_to description_path(d), action: :update, params: {"description[status_id]": 2},
                                    form_class: form_klass, disabled: disabled, method: :patch, remote: true,
                                    data: {disable_with: disable_with} do
                                    %span.sr-only Approve this description
                                    %i.fa.fa-fw.fa-thumbs-up{ "aria-hidden": true}

                                  -form_klass='btn btn-danger '
                                  -disabled = false
                                  -if d.status_id == 3
                                    -form_klass += 'disabled'
                                    - disabled = true
                                  = button_to description_path(d), params: {"description[status_id]": 3},
                                    form_class: form_klass, disabled: disabled, method: :patch, remote: true, 
                                    data: {disable_with: disable_with} do
                                    %span.sr-only Disapprove this description
                                    %i.fa.fa-fw.fa-thumbs-down
                                =link_to edit_description_path(d), title: "Edit this description", class: 'btn btn-primary', "aria-describedby" => [locale_id, metum_id, image_id ].join(' ') do
                                  %i.fa.fa-fw.fa-pencil
                      =link_to path, class: "btn btn-success", title: "Add a description for Image #{image.id}" do
                        -#%i.fa.fa-plus
                        Describe

                    - if admin? and !type.starts_with?("Your") #TODO replace with current_user?
                      - if image.users.count > 0
                        %h4 
                          Users 
                          %span.badge
                            =image.users.count
                        %ul
                          -image.users.each do |user|
                            %li= user
                      %br
                      = link_to new_assignment_path(image_id: image.id), class: 'btn btn-success', title: "Assign image #{image.id} to a user" do
                        -#%i.fa.fa-plus
                        Assign
  -if queue.size == 0
    %p This queue is empty.
