- if queue 
  .queue
    %h3 
      #{type} Queue
      -if queue.size > 0
        %span.badge= queue.count
  -if queue.size > 0
    .well
      .row
        - queue.each_with_index do |item, idx|
          - if item.is_a? Image
            - image = item
          - else #is a description
            - description = item
            - image = description.image
          .col-sm-6.col-xs-12{id: "image-#{image.id}"}
            .thumbnail
              =image_tag image.full_url, alt: "image #{image.id}"
              .caption
                - unless type == "Unassigned Images"
                  -#- if type == "Ready to Review Descriptions"
                    -#- descriptions = image.descriptions.ready_to_review
                  -#- else
                    -#-descriptions = image.descriptions
                  - if type.start_with? "Your"
                    -descriptions = image.descriptions.collect{ |d| d if @my_description_ids.include? d.id}.compact
                  - else
                    -descriptions = image.descriptions
                  %h4 
                    Descriptions
                    %span.badge= descriptions.count
                    - path = new_description_path(image_id: image.id, user_id: current_user.id )
                    =link_to path, class: "btn btn-success", title: "Add a description for Image #{image.id}" do
                      -#%i.fa.fa-plus
                      Describe
                  %ul
                    - descriptions.each do |d|
                      %li
                        .panel.panel-default<
                          .panel-heading
                            -#=link_to description_path(d), title: "Approve this description", class: 'btn btn-success' do
                            .btn-group{role: "group", "aria-label": "Image actions"} 
                              -if admin?
                                -form_klass='btn btn-success '
                                -disabled = false
                                -if d.status_id == 2
                                  -form_klass += 'disabled'
                                  - disabled = true
                                = button_to description_path(d), action: :update, params: {"description[status_id]": 2}, title: "Approve this description", 
                                  form_class: form_klass, disabled: disabled, method: :patch, remote: true,
                                  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} do
                                  %i.fa.fa-fw.fa-thumbs-up
                                -form_klass='btn btn-danger '
                                -disabled = false
                                -if d.status_id == 3
                                  -form_klass += 'disabled'
                                  - disabled = true
                                = button_to description_path(d), params: {"description[status_id]": 3}, title: "Disapprove this description", 
                                  form_class: form_klass, disabled: disabled, method: :patch, remote: true, 
                                  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} do
                                  %i.fa.fa-fw.fa-thumbs-down
                              =link_to edit_description_path(d), title: "Edit this description", class: 'btn btn-primary' do
                                %i.fa.fa-fw.fa-pencil
                            %span.label.label-default= d.locale
                            %span.label.label-info= d.metum
                            - case d.status.id
                            - when 1
                              -label_class = "warning"
                            - when 2
                              -label_class = "success"
                            - when 3
                              -label_class = "danger"
                            %span{class: "label label-"+ label_class}=d.status
                          .panel-body
                            %blockquote.blockquote
                              %p<
                                =d.text
                              -if d.user
                                %footer<
                                  %cite<
                                    =d.user

                - if admin? and !type.starts_with?("Your") #TODO replace with current_user?
                  %h4 
                    Users 
                    %span.badge
                      =image.users.count
                    = link_to new_assignment_path(image_id: image.id), class: 'btn btn-success new-link', title: "Assign a user to Image #{image.id}" do
                      -#%i.fa.fa-plus
                      Assign
                  %ul
                    -image.users.each do |user|
                      %li= user
  -if queue.size == 0
    %p This queue is empty.
