- if queue and queue.size > 0
  .queue
    %h3 
      #{type} Queue
      %span.badge= queue.count
    .well
      .row
        - queue.each_with_index do |item, idx|
          - if item.is_a? Image
            - image = item
          - else #is a description
            - description = item
            - image = description.image
          .col-sm-3.col-xs-6
            .thumbnail
              =image_tag image.full_url, alt: "image #{image.id}"
              .caption
                - unless type == "Unassigned Images"
                  -#- if type == "Ready to Review Descriptions"
                    -#- descriptions = image.descriptions.ready_to_review
                  -#- else
                    -#-descriptions = image.descriptions
                  - if type.start_with? "My"
                    -descriptions = image.descriptions.collect{ |d| d if @my_description_ids.include? d.id}.compact
                  - else
                    -descriptions = image.descriptions
                  %h4 
                    =link_to new_description_path(image_id: image.id), class: "btn btn-success", title: "Add a description for Image #{image.id}" do
                      %i.fa.fa-plus
                    Descriptions
                    %span.badge
                      = descriptions.count
                  %ul
                    - descriptions.each do |d|
                      %li<
                        %p
                          =link_to edit_description_path(d), title: "Edit this description" do
                            %i.fa.fa-fw.fa-pencil>
                          =d.text
                          %br
                          %span.label.label-info= d.metum
                          %span.label.label-default= d.locale
                          - case d.status.id
                          - when 1
                            -label_class = "warning"
                          - when 2
                            -label_class = "success"
                          - when 3
                            -label_class = "danger"
                          %span{class: "label label-"+ label_class}=d.status

                - if @user.admin? #TODO replace with current_user?
                  %h4 
                    = link_to new_assignment_path(image_id: image.id), class: 'btn btn-success new-link', title: "Assign a user to Image #{image.id}" do
                      %i.fa.fa-plus
                    Users 
                    %span.badge
                      =image.users.count
                  %ul
                    -image.users.each do |user|
                      %li= user
