= simple_form_for @image, validate: true, html: {multipart: true, class: 'form-horizontal'}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean, file: :horizontal_file_input} do |f|
  = f.error_notification
  .form-inputs
    = f.association :website, prompt: "Pick a website"
    - if admin?
      = f.input :canonical_id, label: "Canonical ID"
    - else

      = f.input :canonical_id, as: :hidden
    = f.input :path
    = f.association :group, prompt: "Pick a group"
    = f.input :title
    = f.input :priority
    = f.input :tag_list, as: :tags, label: "Tags", input_html: {class: 'autocomplete'}, collection: ActsAsTaggableOn::Tag.most_used(30), hint: "Use a comma to separate new tags"


  .form-actions
    .form-actions-inner
      = f.button :submit, class: 'btn btn-primary'
      - if action_name == 'edit'
        %br
        %br
        = link_to @image, class: 'btn btn-info' do
          %i.fa.fa-fw.fa-eye{"aria-hidden" => "true"}
          View this image
      %br
      %br
      = link_to images_path, class: 'btn btn-info' do
        %i.fa.fa-fw.fa-list{"aria-hidden" => "true"}
        View all Images
