= simple_form_for [current_organization,image], validate: true, html: { multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean, file: :horizontal_file_input} do |f|
  = f.error_notification

  .form-inputs
    = f.association :website, prompt: "Pick a website", collection: websites
    = f.input :canonical_id, label: "Canonical ID", :as => (policy(image).update? ? :string : :hidden)
    = f.input :path
    = f.association :context, prompt: "Pick a context", collection: contexts
    = f.input :title, readonly: image.persisted?
    = f.input :priority
    = f.input :tag_list, as: :tags, label: "Tags", input_html: { class: 'autocomplete' }, collection: tag_list, hint: "Use a comma to separate new tags"


  .form-actions
    .form-actions-inner
      = f.button :submit

      - unless image.new_record?
        %br
        %br
        = link_to image, class: 'btn btn-info' do
          View this image
      %br
      %br
      = link_to organization_images_path(current_organization), class: 'btn btn-info' do
        View all Images
