= simple_form_for @image, validate: true, html: {multipart: true, class: 'form-horizontal'}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean, file: :horizontal_file_input} do |f|
  = f.error_notification
  .form-inputs
    - if admin?
      = f.input :canonical_id, label: "Canonical ID"
    - else
      = f.input :canonical_id, as: :hidden
    = f.association :website, prompt: "Pick a website"
    = f.association :group, prompt: "Pick a group"
    = f.input :path, as: :string, label: "Path", hint: "relative to the website domain"
    = f.input :tag_list,  label: 'Tags', input_html: {class: 'autocomplete' , data: { class: 'autocomplete', tags: true, placeholder: "Enter tags", saved:  f.object.tags.map{|t| {id: t.name, name: t.name}}.to_json, url: autocomplete_tags_path}}


  .form-actions
    .form-actions-inner
      = f.button :submit, class: 'btn btn-success'
      - if action_name == 'edit'
        %br
        %br
        = link_to @image, class: 'btn btn-info' do
          %i.fa.fa-fw.fa-eye{title: "Eye"}
          View this image
      %br
      %br
      = link_to images_path, class: 'btn btn-info' do
        %i.fa.fa-fw.fa-list{title: "List"}
        View all Images
