- title = 'Images'
-meta title: title
- cache ['v1', current_user,  @images, @search_cache_key, @page] do
  .container-fluid
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}
            #{title}: #{number_with_delimiter(@images.total_count)}

        %nav.index-nav{role:"navigation"}
          - if @images.total_pages > 1
            %h2.sr-only Pagination
            =paginate @images
          - if organization_user.admin?
            %br
            %h2.sr-only Actions
            = link_to new_organization_image_path(current_organization), class: 'btn btn-primary new-link' do
              New Image

        = search_form_for @q, url: organization_images_path(current_organization), html: { class: "form-vertical" } do |f|
          .table-responsive
            %table.index-table
              %caption.sr-only Index table for images
              %thead
                %tr
                  -if organization_user.admin?
                    %th{scope: "col", rowspan: 2}<
                      %span.sr-only Bulk Actions

                      .btn-context
                        -#- described_by = ''
                        -#- @images.each_with_index do |image, idx|
                          -#-  described_by += "image-id_" + image.id.to_s + " "
                        -#%button{type: "button", class: "btn btn-primary dropdown-toggle", data: {toggle: "dropdown"}, "aria-haspop" => "true", "aria-expanded" => "false", "aria-describedby" => described_by}
                        %button{type: "button", class: "btn btn-primary dropdown-toggle", data: {toggle: "dropdown"}, "aria-haspop" => "true", "aria-expanded" => "false", id: 'assign-to'}
                          Assign to
                          %span.caret
                        %ul.dropdown-menu<
                          - @users.each do |u|
                            %li<
                              %a{data: { user_id: u.id, actor: "user_id", selector: "image_id", bulk: "assignments", url: bulk_organization_assignments_path(current_organization) }, href: "#", class: 'bulk', 'aria-describedby' => 'assign-to'}=u

                      %br
                      <input type="checkbox" name="select-all" id="select-all" />
                      <label for="select-all" class="sr-only">Select all items on the page</label>

                  %th{scope: "col"}= sort_link @q, :priority, 'Priority'
                  %th{scope: "col"}= sort_link @q, :status_code, 'Status', html: {title: "Sort by status"}
                  %th{scope: "col", rowspan: 2} Image
                  %th{scope: "col"}= sort_link @q, :title, 'Caption'
                  %th{scope: "col"}= sort_link @q, :assignments_count, 'Assigned to', html: {title: "Sort by assignment count"}
                  %th{scope: "col"}= sort_link @q, :context_name, 'Context'
                  -#%th{scope: "col"}< Website
                  %th{scope: "col"}= sort_link @q, :descriptions_count, 'Descriptions'
                  %th{scope: "col"} Tags
                  %th{scope: "col", rowspan: 2}= sort_link @q, :created_at, 'Date'
                  %th{scope: "col"} Actions
                %tr<
                  %td= f.input  :priority_eq, as: :select, include_blank: "Any priority", label: "Select a priority level", required: false, collection: [["Priority", true], ["Regular", false]], label_html: {class: 'sr-only'}
                  %td= f.input  :status_code_eq, as: :select, include_blank: "Any status", label: "Select a status", required: false, collection: [["Not Described", 0], ["Partially Completed", 1],  ["Ready to Review", 2], ["Completed", 3]], label_html: {class: 'sr-only'}
                  %td<
                    =f.label "Search by caption", for: "q_title_cont_all", class: "sr-only"
                    = f.search_field :title_cont_all, :class => 'input-medium form-control', placeholder: "Search by caption"
                  %td= f.input  :assignments_user_id_eq, as: :select, include_blank: "Any user", label: "Select a user", required: false, collection: users, label_html: {class: 'sr-only'}

                  %td= f.input  :context_id_eq, as: :select, include_blank: "Any context", label: "Select a context", required: false, collection: contexts, label_html: {class: 'sr-only'}
                  %td<
                    =f.label "Search by description", for: "q_descriptions_text_cont_all", class: "sr-only"
                    = f.search_field :descriptions_text_cont_all, :class => 'input-medium form-control', placeholder: "Search by description"
                  %td<
                    = f.label "Search by tag", for: "q_tags_name_cont_all", class: "sr-only"
                    = f.search_field :tags_name_cont_all, :class => 'input-medium form-control', placeholder: "Search by tag"
                  %td.search-btns
                    = link_to "Clear", organization_images_path(current_organization,search_cancel: true), class: 'btn btn-sm btn-info'
                    %nbsp
                    = button_tag "Search", type: "submit", class: "btn btn-info btn-sm" 

              %tbody
                - @images.each_with_index do |image,idx|
                  %tr.item[image]
                    - if organization_user.admin?
                      %td<
                        = check_box("image-id", image.id, class: "image-id", data: {"image-id" => image.id}, "aria-labeledby": "image-file-#{ image.id } ")
                    %td<
                      - klass = "priority-toggle label "
                      - if image.priority
                        - klass += "label-priority"
                        - text = "High"
                      - else
                        - klass += "label-default"
                        - text = "None"
                      = link_to toggle_organization_image_path(current_organization,image,column: 'priority'), remote: true, title: "Click to toggle priority", class: klass do
                        = text
                    %td
                      -klass = 'label label-' + image_status_css_class(image.status_code)
                      %span{class: klass}= image.status
                    %td<
                      = link_to [current_organization,image], class: "", title: "Show this image" do
                        = image_tag image.url, id: "image-file-#{ image.id }", alt: image.alt, "aria-describedby": "image-title-#{image.id}"
                    %td<
                      %span{id: "image-title-#{image.id}"}
                        .text-wrap= to_html image.title
                    %td<
                      -assignments = image.assignments
                      = render "assignments/list", assignments: assignments, title: false
                    %td= image.context
                    %td<
                      = render "counter", descriptions: image.descriptions, meta: Metum.all
                    %td<
                      - if image.tags.count > 0
                        %ul<
                          -image.tags.each do |tag|
                            %li<
                              = link_to organization_images_path(current_organization,tag: tag.name) do
                                = tag.name
                    %td<
                      =image.created_at
                    %td.text-right
                      = link_to [current_organization,image], class: "btn btn-sm btn-show", title: "Show this image", "aria-describedby": "image-title-#{image.id}" do
                        View
                      %nbsp
                      -if policy(user).edit?
                        = link_to edit_organization_image_path(current_organization,image), class: "btn btn-sm btn-edit", title: "Edit this image", "aria-describedby": "image-title-#{image.id}" do
                          Edit
                        %nbsp
                      -if policy(user).destroy?
                        = link_to [current_organization,image], title: "Delete this image" , class: "btn btn-sm btn-destroy",  :method => :delete, :data => { confirm: "Are you sure you want to delete #{image}?" }, "aria-describedby": "image-title-#{image.id}" do
                          Delete
                        %nbsp
                      - if current_user.author?
                        = link_to 'Describe', new_organization_description_path(current_organization,image_id: image.id), class: "btn btn-edit", title: "Add a description for Image #{image.id}" 

        -if @tags and @tags.length > 0
          %p
            - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
              = link_to organization_images_path(current_organization,tag: tag.name), :class => css_class do
                = tag.name
                %span.sr-only ,
                "#{tag.count}"

        %nav.index-nav{role:"navigation"}
          - if @images.total_pages > 1
            %h2.sr-only Pagination
            =paginate @images
          -if organization_user.admin?
            %br
            %h2.sr-only Actions
            = link_to new_organization_image_path(current_organization), class: 'btn btn-primary new-link' do
              New Image
