-title = 'Listing Images'
-meta title: title
- cache ['v1', admin?,  @images] do
  .index-outer
    .index
      .index-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for images
          %thead
            %tr
              %th{scope: "col"}
                Url
              %th{scope: "col"}
                Group
              %th{scope: "col"}
                Website
              %th{scope: "col"}
                Actions

          %tbody
            - @images.each_with_index do |image, idx|
              %tr{class: "item"}
                %td= image.url
                %td= image.group
                %td= image.website
                %td.text-right
                  = link_to image, class: "btn btn-show", title: "Show this image" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_image_path(image), class: "btn btn-edit", title: "Edit this image"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to image, title: "Delete this image" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{image}?"} do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}

        %nav.index-nav{role:"navigation"}
          = link_to new_image_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Image
