-title = "Showing Image #{@image}"
-meta title: title
-cache ['v1', admin?,  @image] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        .row
          .col-md-3
            =image_tag @image.url, class: "description-image", alt: @image.alt
          .col-md-9
            %table.entity-table
              %caption.sr-only Key value pairs for this image
              %tbody
                %tr
                  %th{scope: "row"}
                    Title:
                  %td
                    - if @title
                      = @title
                    -else
                      No title available.

                %tr
                  %th{scope: "row"}
                    Path:
                  %td
                    = @image.path
                %tr
                  %th{scope: "row"}
                    Group:
                  %td
                    = @image.group
                %tr
                  %th{scope: "row"}
                    Website:
                  %td
                    = @image.website
                %tr
                  %th{scope: "row"}
                    Canonical ID:
                  %td
                    = @image.canonical_id
                %tr
                  %th{scope: "row"}
                    Tags:
                  %td
                    - tag_cloud(@image.tags, %w(css1 css2 css3 css4)) do |tag, css_class|
                      = link_to images_path(tag: tag.name), :class => css_class do
                        = tag.name

            %nav.show-nav{role:"navigation"}
              -if admin?
                = link_to edit_image_path(@image), title: "Edit this image", class: 'btn btn-primary' do
                  %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
                  Edit
                = link_to new_assignment_path(image_id: @image.id), class: 'btn btn-success', title: "Assign image #{@image.id} to a user" do
                  Assign
              -if current_user
                =link_to new_description_path(image_id: @image.id, user_id: current_user.id), class: "btn btn-success", title: "Add a description for Image #{@image.id}" do
                  Describe
              %br
              %br
              = link_to images_path, class: 'btn btn-info', title: "View the images index" do
                %i.fa.fa-fw.fa-list{title: 'List'}
                Images
              %br
              %br
          -if @image.descriptions.length > 0
            .col-md-12
              %h3 Descriptions
              = render "descriptions/table", descriptions: @image.descriptions


