!!!
%html(lang="en")
  %head
    = raw analytical.head_prepend_javascript
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true

    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/TeX Gyre Heros:400,400i,700,700i:f">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

    = csrf_meta_tags
    = render 'favicon'

    = metamagic site: Rails.configuration.x.site_name,
      title: [:title, :site], 
      separator: " | ",
      keywords: [:keywords, "image description", "accessibility", "museums"],
      description: [:description, "Image annotation site and API to enable the distributed annotation of museum images."],
      viewport: 'minimal-ui, width=device-width, initial-scale=1'

    - meta og: { site_name: Rails.configuration.x.site_name,
        locale: 'en_us',
        type: 'website',
      }

    = raw analytical.head_append_javascript

  %body{class: content_for?(:body_class) ? yield(:body_class) : body_class_default}
    = raw analytical.body_prepend_javascript
    = link_to "Skip to content", "#main", class: "sr-only"
    = render partial: "nav" if current_user
    = render partial: "alerts"

    %main#main{role: "main", tabindex: "-1"}
      = yield

    = render partial: "footer"

    #loading
    = raw analytical.body_append_javascript

  = javascript_include_tag "application", "data-turbolinks-track" => true
  = yield :javascript_footer
= body_class
