!!!
%html{ lang: "en"}
  %head
    = raw analytical.head_prepend_javascript
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"
    =#analytical.identify '5', :email=>'josh@transfs.com' 
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/TeX Gyre Heros:400,400i,700,700i:f">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    = csrf_meta_tags
    -#%link{:href => asset_url("apple-touch-icon-57x57.png"), :rel => "apple-touch-icon", :sizes => "57x57"}
    -#%link{:href => asset_url("apple-touch-icon-60x60.png"), :rel => "apple-touch-icon", :sizes => "60x60"}
    -#%link{:href => asset_url("apple-touch-icon-72x72.png"), :rel => "apple-touch-icon", :sizes => "72x72"}
    -#%link{:href => asset_url("apple-touch-icon-76x76.png"), :rel => "apple-touch-icon", :sizes => "76x76"}
    -#%link{:href => asset_url("apple-touch-icon-114x114.png"), :rel => "apple-touch-icon", :sizes => "114x114"}
    -#%link{:href => asset_url("apple-touch-icon-120x120.png"), :rel => "apple-touch-icon", :sizes => "120x120"}
    -#%link{:href => asset_url("apple-touch-icon-144x144.png"), :rel => "apple-touch-icon", :sizes => "144x144"}
    -#%link{:href => asset_url("apple-touch-icon-152x152.png"), :rel => "apple-touch-icon", :sizes => "152x152"}
    -#%link{:href => asset_url("apple-touch-icon-180x180.png"), :rel => "apple-touch-icon", :sizes => "180x180"}
    -#%link{:href => asset_url("favicon-32x32.png"), :rel => "icon", :sizes => "32x32", :type => "image/png"}
    -#%link{:href => asset_url("android-chrome-192x192.png"), :rel => "icon", :sizes => "192x192", :type => "image/png"}
    -#%link{:href => asset_url("favicon-96x96.png"), :rel => "icon", :sizes => "96x96", :type => "image/png"}
    -#%link{:href => asset_url("favicon-16x16.png"), :rel => "icon", :sizes => "16x16", :type => "image/png"}
    -#%meta{:content => "#da532c", :name => "msapplication-TileColor"}
    -#%meta{:content => asset_url("mstile-144x144.png"), :name => "msapplication-TileImage"}
    -#%meta{:content => "#ffffff", :name => "theme-color"}

    - site= "Coyote"
    = metamagic site: site,
      title: [:title, :site], 
      separator: " | ",
      keywords: [:keywords, "image description", "accessibility", "museums"],
      description: [:description, "Image annotation site and API to enable the distributed annotation of museum images."],
      viewport: 'minimal-ui, width=device-width, initial-scale=1'
    -meta og: { site_name: site,
      locale: 'en_us',
      type: 'website',
    }
    = raw analytical.head_append_javascript

  %body{:class => content_for?(:body_class) ? yield(:body_class) : body_class_default}
    = raw analytical.body_prepend_javascript
    = link_to "Skip to content", "#main", class: "sr-only"
    = render "nav"
    = render "alerts"
    %main#main{role: "main", tabindex: "-1"}
      = yield
    = render "footer"
    #loading
    = raw analytical.body_append_javascript
= body_class
