<!DOCTYPE html>
<html>
<head>
<title>Coyote Producer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<iframe src="<%= params[:producer] %>?url=<%= params[:url] %>" frameborder="0"></iframe>


<%= javascript_include_tag "coyote_producer" %>

</body>
</html>
